  /* The message box is shown when the user clicks on the password field */
  #invalid-password-message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 6px;
    margin-top: 8px;
    text-align: left;
    font-size: 16px;
  }
  
  #invalid-password-message p {
    padding:0 45px;
    font-size: 14px;
  }

  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "x";
  }

  #signup-toggle-password {
    position:absolute;
    justify-content: center;
    margin: 20px 40px 30px -30px;
    transform: translateY(-50%);
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  #signin-toggle-password {
    position:absolute;
    justify-content: center;
    margin: 20px 40px 30px -30px;
    transform: translateY(-50%);
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  /* Hide the password input when the checkbox is checked */
  input[type="password"].hide-password {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
  }
  